body {
    font-family: arial, verdana;
    color: #333;
    margin: 24px 0 24px 0;
}

#top {
    background-color: #111;
    border-bottom: 1px solid #ccc;
    height: 24px;
    margin-bottom: 24px;
}

.holder {
    width: 980px;
    margin: 0 auto;
}

a {
    text-decoration: none;
    color: #599EE4;
}

h1 {
    font-size: 1.4em;
    padding: 0;
    margin: 0 12px 0 0;
}

h2 {
    font-size: 1.2em;
    padding: 0;
    margin: 0 0 8px 0;
}

p {
    line-height: 1.3em;
    margin: 0;
    padding: 0;
}

#logo {
    margin: 0 0 24px 0;
}

table.company {
    margin-bottom: 24px;
}

table.company td.left_details {
    border-right: 12px solid #e1e1e1;
    padding: 24px;
    text-align: right;
    width: 15%;
    font-weight: bold;
}

table.company td.details {
    padding: 24px;
    width: 35%;
}

table.company td.details_triple {
    padding: 24px;
    width: 85%;
}

table.company td.details_wide {
    padding: 24px;
    width: 55%;
}

table {
    font-size: 0.8em;
}

table td {
    vertical-align: top;
}

table.details {
    font-size: 1.0em;
}

table.details td {
    padding: 2px 0;
}

table.details td.left {
    width: 130px;
    font-weight: bold;
}

table.addy {
    margin: 24px 0 0 0;
}

table.comps {
    margin: 24px 0 0 0;
    border-top: 1px solid #e1e1e1;
}

table.comps tr.bottom_row td {
    border-bottom: none;
    padding: 8px 12px 0 12px;
}

table.comps td.right {
    text-align: right;
    color: #666;
}

table.comps td.bottom_right {
    text-align: right;
    border-bottom: none;
    padding: 8px 12px;
}

table.comps td {
    border-bottom: 1px solid #e1e1e1;
    padding: 8px 12px;
}

table.comps td.strong {
    font-size: 1.3em;
    font-weight: bold;
}

table.comps th {
    border-bottom: 2px solid #e1e1e1;
    text-transform: uppercase;
    padding: 8px 12px;
    text-align: left;
    font-size: 0.9em;
    color: #666;
}

p.bottom {
    margin-top: 12px;
    text-align: center;
}

p.company_contact {
    margin-top: 12px;
}